{
  "extends": [
    "react-app"
  ],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "array-bracket-spacing": ["warn", "always"],
    "arrow-parens": ["warn", "as-needed"],
    "comma-dangle": ["warn", "only-multiline"],
    "camelcase": ["warn", {
      "properties": "always"
    }],
		"curly": "warn",
    "indent": ["warn", "tab", {
      "ignoredNodes": ["TemplateLiteral"]
    }],
    "import/order": [
      "error",
      {
        "groups": [
          "external",
          "builtin",
          "internal",
          [
            "sibling",
            "parent"
          ]
        ],
        "pathGroups": [
          {
            "pattern": "react*",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "components/**",
            "group": "internal"
          },
          {
            "pattern": "containers/**",
            "group": "internal"
          },
          {
            "pattern": "globals/**",
            "group": "internal"
          },
          {
            "pattern": "hooks/**",
            "group": "internal"
          },
          {
            "pattern": "hooks",
            "group": "internal"
          },
          {
            "pattern": "store/**",
            "group": "internal"
          },
          {
            "pattern": "services/**",
            "group": "internal"
          },
          {
            "pattern": "utils/**",
            "group": "internal"
          },
          {
            "pattern": "utils",
            "group": "internal"
          },
          {
            "pattern": "@bit/**",
            "group": "external",
            "position": "after"
          }
        ],
        "pathGroupsExcludedImportTypes": [
          "react"
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "jsx-quotes": ["warn", "prefer-double"],
    "max-len": ["warn", {
      "code": 120,
      "ignoreComments": true,
      "ignoreUrls": true,
      "ignoreStrings": true,
      "tabWidth": 2
    }],
    "no-duplicate-imports": "warn",
    "no-mixed-spaces-and-tabs": ["warn", "smart-tabs"],
    "no-trailing-spaces": "warn",
    "object-curly-spacing": ["warn", "always"],
    "padded-blocks": ["warn",
      {
        "blocks": "never",
        "classes": "never"
      },
      {
        "allowSingleLineBlocks": false
      }
    ],
    "padding-line-between-statements": [
      "warn",
      {"blankLine": "any", "prev": "class", "next": "*"},
      {"blankLine": "always", "prev": "*", "next": "return"}
    ],
    "quote-props": ["warn","as-needed"],
    "quotes": ["warn", "double", { "allowTemplateLiterals": true }],
    "react/jsx-closing-bracket-location": ["warn", "tag-aligned"],
    "react/jsx-wrap-multilines": ["warn", {
      "declaration": "parens-new-line",
      "assignment": "parens-new-line",
      "return": "parens-new-line",
      "arrow": "parens-new-line",
      "condition": "ignore",
      "logical": "ignore",
      "prop": "ignore"
    }],
    "semi": ["warn", "always"],
		"space-before-blocks": "warn",
		"space-before-function-paren": "warn",
		"space-infix-ops": "warn"
  },
  "ignorePatterns": ["dictionaries/"]
}
